<style>
    /*Common*/
    h1,h2,h3,h4,h5{margin: 0.5em 0;}
    .main-warp h2 { margin:0;}
    .info-box { text-align: center; padding: 1.5em; }


     /* 나의연차정보 */
    .holiday-list { margin: 1em 0 3em 0; }

    .holiday-list  div.holiyday{display:block; color:#333333; text-shadow: none;}
    .holiday-list  a.list-detail {border:none !important; padding:20px; background:#f7f7f7 !important;}
    .holiday-list  ul{width:100%; box-shadow:none !important;}
    .holiday-list  li{ margin-bottom:10px; box-shadow: 0 1px 3px rgba(0,0,0,.4);}

    #holidayListview { margin: 0.5em 0 1em 0;}

    /*List-Summary*/
    .project-list  div.plan{display:block; color:#333333; text-shadow: none;}
    .project-list  a.list-detail {border:none !important; padding:20px; background:#f7f7f7 !important;}
    .project-list  ul{width:100%; box-shadow:none !important;}
    .project-list  li{ margin-bottom:10px; box-shadow: 0 1px 3px rgba(0,0,0,.4);}

    #projectListview { margin: 0.5em 0 1em 0;}

</style>