<style>

    /*Common*/
    h1,h2,h3,h4,h5{margin: 0.5em 0;}

    /*Plan LIst Page*/
    /*Select Area*/
    .plan-list .title-area div.grid-cd-1{width:calc(100% - 80px); display:inline-flex; align-items:center;height:44px;}
    .plan-list .title-area div.grid-cd-2{width:80px; display:inline-flex;}
    .plan-list .title-area div.grid-cd-2 a{width:100%; margin:0;}

    .plan-list .title-area select{width:100%; height:44px; padding-left:10px; background:#ededed;}
    .plan-list .title-area div.gird-pt{width:100%; display:flex; margin-bottom:0.5em;}
    .plan-list .title-area div.grid-cd-3{width:calc(100% - 80px); display:inline-flex;}
    .plan-list .title-area div.grid-cd-3 .ui-select{width:100%;}
    .plan-list .title-area div.grid-cd-3 .ui-select span{text-align:left;}
    .plan-list .title-area div.grid-cd-4{width:70px; display:inline-flex; align-items:center; margin-left:5px;}

    /*List-Summary*/
    .plan-list .summary-list div.plan{display:block; color:#333333; text-shadow: none;}
    .plan-list .summary-list a.list-detail {border:none !important; padding:20px; background:#f7f7f7 !important;}
    .plan-list .summary-list ul{width:100%; box-shadow:none !important;}
    .plan-list .summary-list li{ margin-bottom:10px; box-shadow: 0 1px 3px rgba(0,0,0,.4);}

    /*Project_plan Page*/
    /*Title Area*/
    .project-list .title-area .gird-pt{width:100%; display:flex; margin-bottom:0.5em; align-items:center}
    .project-list .title-area div.grid-cd-1{width:calc(100% - 110px); display:inline-flex;}
    .project-list .title-area div.grid-cd-2{width:110px; display:inline-flex;}
    /*.project-list .title-area div.grid-cd-2 a{width:100%; } */
    .project-list .title-area div.grid-cd-3{ display:inline-flex;}
    .project-list .title-area div.grid-cd-3 a{margin:0;}

     /*Summary List*/
    .project-list .summary-list div.plan{display:block; color:#333333; text-shadow:none;}
    .project-list .summary-list a.list-detail {border:none !important; padding:20px; background:#f7f7f7 !important;}
    .project-list .summary-list ul{width:100%; box-shadow:none !important;}
    .project-list .summary-list li{margin-bottom:10px; box-shadow: 0 1px 3px rgba(0,0,0,.4);}

    /*Plan_Detail Page*/
    /*detail-form*/
    .plan-detail .detail-form .ui-field-contain{ display:flex; width:100%;}
    .plan-detail .detail-form .ui-field-contain label{width:90px; display:flex; align-items:center; margin:0;}
    .plan-detail .detail-form .ui-field-contain .ui-select span{text-align:left; font-weight:500;}
    .plan-detail .detail-form .ui-field-contain input{width:100%; display:inline-flex; }
    .plan-detail .detail-form .ui-field-contain textarea{width:calc(100% - 90px); height:120px !important; display:inline-flex; }
    .plan-detail .detail-form .ui-field-contain label + div{width:calc(100% - 90px);}

    /*btn-area*/
   .plan-detail .btn-area-1 .grid-pt{width:100%; display:flex;}
   .plan-detail .btn-area-1 .grid-pt .grid-cd-1{width: 50%; display:inline-flex; margin-right:0.1em;}
   .plan-detail .btn-area-1 .grid-pt .grid-cd-2{width: 50%; display:inline-flex; margin-left:0.1em;}
   .plan-detail .btn-area-1 .grid-pt .grid-cd-2 a.ui-btn-b{border: #3388cc;}
   .plan-detail .btn-area-1 .grid-pt a{width:100%;}

   .plan-detail .btn-area-3 .grid-pt{width:100%; display:flex;}
   .plan-detail .btn-area-3 .grid-pt .grid-cd-1{width: 33.33%; display:inline-flex; margin-right:0.1em;}
   .plan-detail .btn-area-3 .grid-pt .grid-cd-2{width: 33.33%; display:inline-flex; margin-left:0.1em; margin-right:0.1em;}
   .plan-detail .btn-area-3 .grid-pt .grid-cd-3{width: 33.33%; display:inline-flex; margin-left:0.1em;}
   .plan-detail .btn-area-3 .grid-pt .grid-cd-2 a.ui-btn-b, .btn_area-3 .grid-pt .grid-cd-3 a.ui-btn-b {border: #3388cc;}
   .plan-detail .btn-area-3 .grid-pt a{width:100%;}

   /*QnA_List Page*/
   /*title-area*/
   .qna-list .title-area select{width:100%; height:44px; padding-left:10px; background:#ededed;}
   .qna-list .title-area div.gird-pt{width:100%; display:flex; margin-bottom:0.5em;}
   .qna-list .title-area div.grid-cd-1{width:calc(100% - 110px); display:inline-flex;}
   .qna-list .title-area div.grid-cd-2{width:110px; display:inline-flex; align-items:center;}
   .qna-list .title-area div.grid-cd-2 a{width:100%; margin:0 0 0 5px;}

    /*Summary List*/
   .qna-list .summary-list div.qna{display:block; color:#333333; text-shadow: none;}
   .qna-list .summary-list a.list-detail {border:none !important; padding:20px; background:#f7f7f7 !important;}
   .qna-list .summary-list ul{width:100%; box-shadow:none !important;}
   .qna-list .summary-list li{margin-bottom:10px; box-shadow: 0 1px 3px rgba(0,0,0,.4);}

   /*QnA_Detail Page*/
   /*detail-form*/
   .qna-detail .detail-form {background:#ededed;}
    .qna-detail .detail-form .ui-select span{text-align:left;}
    .qna-detail .detail-form textarea{height:90px !important;}

    /*btn-area*/
   .qna-detail .btn-area-1 .grid-pt{width:100%; display:flex;}
   .qna-detail .btn-area-1 .grid-pt .grid-cd-1{width: 50%; display:inline-flex; margin-right:0.1em;}
   .qna-detail .btn-area-1 .grid-pt .grid-cd-2{width: 50%; display:inline-flex; margin-left:0.1em;}
   .qna-detail .btn-area-1 .grid-pt .grid-cd-2 a.ui-btn-b{border: #3388cc;}
   .qna-detail .btn-area-1 .grid-pt a{width:100%;}

   .qna-detail .btn-area-3 .grid-pt{width:100%; display:flex;}
   .qna-detail .btn-area-3 .grid-pt .grid-cd-1{width: 33.33%; display:inline-flex; margin-right:0.1em;}
   .qna-detail .btn-area-3 .grid-pt .grid-cd-2{width: 33.33%; display:inline-flex; margin-left:0.1em; margin-right:0.1em;}
   .qna-detail .btn-area-3 .grid-pt .grid-cd-3{width: 33.33%; display:inline-flex; margin-left:0.1em;}
   .qna-detail .btn-area-3 .grid-pt .grid-cd-2 a.ui-btn-b, .btn_area-3 .grid-pt .grid-cd-3 a.ui-btn-b {border: #3388cc;}
   .qna-detail .btn-area-3 .grid-pt a{width:100%;}
</style>